.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login > button {
  width: 300px;
  background-color: #2e81f4;
  color: #eff2f5;
  font-weight: 800;
  border: none;
  height: 30px;
  border-radius: 5px;
}

.login > button:hover {
  background-color: rgb(222, 234, 248);
  color: #2e81f4;
  cursor: pointer;
}

.login > div > img {
  object-fit: contain;
  height: 150px;
}

.login > div {
  display: flex;
  flex-direction: column;
}

.faceBooklogo {
  width: 200px;
}
